*{
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 400px;
	font-family: Verdana;
	background-color: #000;
	color: #fff;
}

.box {
	background-color: maroon;
	border-radius: 50%;
	height: 210px;
	width: 210px;
}
